# This is a basic workflow to help you get started with Actions 

name: CI 

# Controls when the action will run. Triggers the workflow on push or pull request   
# events but only for the master branch
on:
#   issues:
#     types: [opened]
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  do_all:
    # The type of runner that the job will run on
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        bug_ind: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]#, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]

            
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: longpaths
      run: git config --system core.longpaths true
    
    - name: Checkout component_importance
      uses: actions/checkout@v2
      with:
        repository: amir9979/component_importance
        path: .
        fetch-depth: 0
    
    - name: Checkout javadiff
      uses: actions/checkout@v2
      with:
        repository: amir9979/javadiff
        path: ./javadiff
        fetch-depth: 0

    - name: Checkout sfl
      uses: actions/checkout@v2
      with:
        repository: amir9979/sfl
        path: ./sfl
        fetch-depth: 0

    - name: Checkout mvnpy
      uses: actions/checkout@v2
      with:
        repository: rotba/mvnpy
        path: ./mvnpy
        fetch-depth: 0
        ref: miner_merge

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest 
        pip install gitpython
        pip install jira
        pip install termcolor 
        pip install openpyxl  
        pip install javalang
        pip install pathlib
        pip install junitparser
        pip install numpy
        pip install sklearn
        pip install pandas
        pip install pyswarm
        pip install networkx
        pip install lizard
        pip install pytest 
        pip install gitpython
        pip install jira
        pip install termcolor 
        pip install openpyxl  
        pip install javalang
        pip install pathlib
        pip install junitparser
        pip install pandas
        pip install numpy
        pip install pydriller
        pip install dataclasses
        pip install jsons


    - name: javadiff_install
      run: python ./javadiff/setup.py install

    - name: execute
      run: python D4JMining.py -p commons-lang -i ${{matrix.bug_ind}} -f do_all

    - name: delete clones
      run:  |
        rm component_importance_data/clones -r -Force
        rm component_importance_data/javadoc -r -Force
        rm component_importance_data/files_commits -r -Force
        rm component_importance_data/files_functions -r -Force
        rm component_importance_data/execution_graphs -r -Force
        rm component_importance_data/call_graphs -r -Force
        rm component_importance_data/files_packages -r -Force
      
    - name: Upload component_importance_data
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: component_importance_data
        path: component_importance_data

  training_set:
      # The type of runner that the job will run on
      runs-on: windows-latest
      continue-on-error: true
      if: always()
      needs: do_all
  
      steps:
      
        - uses: actions/checkout@v2
        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: 3.8

        - name: Set up JDK 1.8
          uses: actions/setup-java@v1
          with:
            java-version: 1.8

        - name: longpaths
          run: git config --system core.longpaths true

        - name: Checkout component_importance
          uses: actions/checkout@v2
          with:
            repository: amir9979/component_importance
            path: .
            fetch-depth: 0

        - name: Checkout javadiff
          uses: actions/checkout@v2
          with:
            repository: amir9979/javadiff
            path: ./javadiff
            fetch-depth: 0

        - name: Checkout sfl
          uses: actions/checkout@v2
          with:
            repository: amir9979/sfl
            path: ./sfl
            fetch-depth: 0

        - name: Checkout mvnpy
          uses: actions/checkout@v2
          with:
            repository: rotba/mvnpy
            path: ./mvnpy
            fetch-depth: 0
            ref: miner_merge

        - name: Install dependencies
          run: |
                python -m pip install --upgrade pip
                pip install pytest 
                pip install gitpython
                pip install jira
                pip install termcolor 
                pip install openpyxl  
                pip install javalang
                pip install pathlib
                pip install junitparser
                pip install numpy
                pip install sklearn
                pip install pandas
                pip install pyswarm
                pip install networkx
                pip install lizard
                pip install pytest 
                pip install gitpython
                pip install jira
                pip install termcolor 
                pip install openpyxl  
                pip install javalang
                pip install pathlib
                pip install junitparser
                pip install pandas
                pip install numpy
                pip install pydriller
                pip install dataclasses
                pip install jsons

        - uses: actions/download-artifact@v2
        
        - uses: geekyeggo/delete-artifact@v1
          with:
              name: component_importance_data

        - name: javadiff_install
          run: python ./javadiff/setup.py install

        - name: get training set
          run: python D4JMining.py -p commons-lang -f training_set

        - name: delete clones
          run:  |
            rm component_importance_data/clones -r -Force
            rm component_importance_data/javadoc -r -Force
            rm component_importance_data/files_commits -r -Force
            rm component_importance_data/files_functions -r -Force
            rm component_importance_data/execution_graphs -r -Force
            rm component_importance_data/call_graphs -r -Force
            rm component_importance_data/files_packages -r -Force

        - name: zip data
          run: python -c "import shutil;shutil.make_archive('zipped', 'zip', 'component_importance_data')"
          
        - name: Upload zip data
          if: ${{ always() }}
          uses: actions/upload-artifact@v2
          with:
            name: zipped
            path: zipped.zip

        - name: ls
          run: ls -R

  experiment:
    # The type of runner that the job will run on
    runs-on: windows-latest
    continue-on-error: true
    if: always()
    needs: training_set

    strategy:
      fail-fast: false
      matrix:
        bug_ind: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]#, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]

            
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: longpaths
      run: git config --system core.longpaths true
    
    - name: Checkout component_importance
      uses: actions/checkout@v2
      with:
        repository: amir9979/component_importance
        path: .
        fetch-depth: 0
    
    - name: Checkout javadiff
      uses: actions/checkout@v2
      with:
        repository: amir9979/javadiff
        path: ./javadiff
        fetch-depth: 0

    - name: Checkout sfl
      uses: actions/checkout@v2
      with:
        repository: amir9979/sfl
        path: ./sfl
        fetch-depth: 0

    - name: Checkout mvnpy
      uses: actions/checkout@v2
      with:
        repository: rotba/mvnpy
        path: ./mvnpy
        fetch-depth: 0
        ref: miner_merge

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest 
        pip install gitpython
        pip install jira
        pip install termcolor 
        pip install openpyxl  
        pip install javalang
        pip install pathlib
        pip install junitparser
        pip install numpy
        pip install sklearn
        pip install pandas
        pip install pyswarm
        pip install networkx
        pip install lizard
        pip install pytest 
        pip install gitpython
        pip install jira
        pip install termcolor 
        pip install openpyxl  
        pip install javalang
        pip install pathlib
        pip install junitparser
        pip install pandas
        pip install numpy
        pip install pydriller
        pip install dataclasses
        pip install jsons


    - name: javadiff_install
      run: python ./javadiff/setup.py install

    - uses: actions/download-artifact@v2

    - name: ls
      run: ls -R

    - name: unzip data
      run: python -c "import shutil;shutil.unpack_archive('zipped.zip', 'component_importance_data', 'zip')"

    - name: javadiff_install
      run: python ./javadiff/setup.py install

    - name: experiment
      run: python D4JMining.py -p commons-lang -i ${{matrix.bug_ind}} -f experiment

    - name: delete clones
      run:  |
        rm component_importance_data/clones -r -Force
        rm component_importance_data/javadoc -r -Force
        rm component_importance_data/files_commits -r -Force
        rm component_importance_data/files_functions -r -Force
        rm component_importance_data/execution_graphs -r -Force
        rm component_importance_data/call_graphs -r -Force
      

    - name: Upload component_importance_data
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: component_importance_data
        path: component_importance_data

  aggragate:
      # The type of runner that the job will run on
      runs-on: windows-latest
      continue-on-error: true
      if: always()
      needs: experiment

      steps:

        - uses: actions/checkout@v2
        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: 3.8

        - name: Set up JDK 1.8
          uses: actions/setup-java@v1
          with:
            java-version: 1.8

        - name: longpaths
          run: git config --system core.longpaths true

        - name: Checkout component_importance
          uses: actions/checkout@v2
          with:
            repository: amir9979/component_importance
            path: .
            fetch-depth: 0

        - name: Checkout javadiff
          uses: actions/checkout@v2
          with:
            repository: amir9979/javadiff
            path: ./javadiff
            fetch-depth: 0

        - name: Checkout sfl
          uses: actions/checkout@v2
          with:
            repository: amir9979/sfl
            path: ./sfl
            fetch-depth: 0

        - name: Checkout mvnpy
          uses: actions/checkout@v2
          with:
            repository: rotba/mvnpy
            path: ./mvnpy
            fetch-depth: 0
            ref: miner_merge

        - name: Install dependencies
          run: |
                python -m pip install --upgrade pip
                pip install pytest 
                pip install gitpython
                pip install jira
                pip install termcolor 
                pip install openpyxl  
                pip install javalang
                pip install pathlib
                pip install junitparser
                pip install numpy
                pip install sklearn
                pip install pandas
                pip install pyswarm
                pip install networkx
                pip install lizard
                pip install pytest 
                pip install gitpython
                pip install jira
                pip install termcolor 
                pip install openpyxl  
                pip install javalang
                pip install pathlib
                pip install junitparser
                pip install pandas
                pip install numpy
                pip install pydriller
                pip install dataclasses
                pip install jsons

        - uses: actions/download-artifact@v2

        - name: javadiff_install
          run: python ./javadiff/setup.py install

        - name: get training set
          run: python D4JMining.py -p commons-lang -f aggragate

        - name: delete clones
          run:  rm component_importance_data/clones -r -Force

        - name: Upload component_importance_data
          if: ${{ always() }}
          uses: actions/upload-artifact@v2
          with:
            name: component_importance_data
            path: component_importance_data
