# This is a basic workflow to help you get started with Actions 

name: CI 

# Controls when the action will run. Triggers the workflow on push or pull request   
# events but only for the master branch
on:
#   issues:
#     types: [opened]
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  extract_all:
    # The type of runner that the job will run on
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        bug_ind: [19, 28, 29]#, 45, 49, 83, 224, 229, 259, 262, 284, 21, 27, 30, 31, 32, 33, 34, 36, 48, 54, 56, 57, 68, 72, 73, 76, 78, 87, 90, 176, 178, 181, 182, 183, 200, 219, 225, 230, 248, 249, 252, 258, 267, 269, 275, 279, 282, 283, 289, 290, 291, 296, 305, 306, 307, 309, 311, 312, 314, 315, 317, 319, 321, 325]

            
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: longpaths
      run: git config --system core.longpaths true
    
    - name: Checkout component_importance
      uses: actions/checkout@v2
      with:
        repository: amir9979/component_importance
        path: .
        fetch-depth: 0
    
    - name: Checkout javadiff
      uses: actions/checkout@v2
      with:
        repository: amir9979/javadiff
        path: ./javadiff
        fetch-depth: 0

    - name: Checkout sfl
      uses: actions/checkout@v2
      with:
        repository: amir9979/sfl
        path: ./sfl
        fetch-depth: 0

    - name: Checkout mvnpy
      uses: actions/checkout@v2
      with:
        repository: rotba/mvnpy
        path: ./mvnpy
        fetch-depth: 0
        ref: miner_merge

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest 
        pip install gitpython
        pip install jira
        pip install termcolor 
        pip install openpyxl  
        pip install javalang
        pip install pathlib
        pip install junitparser
        pip install numpy
        pip install sklearn
        pip install pandas
        pip install pyswarm
        pip install networkx
        pip install lizard
        pip install pytest 
        pip install gitpython
        pip install jira
        pip install termcolor 
        pip install openpyxl  
        pip install javalang
        pip install pathlib
        pip install junitparser
        pip install pandas
        pip install numpy
        pip install pydriller
        pip install dataclasses
        pip install jsons


    - name: javadiff_install
      run: python ./javadiff/setup.py install

#     - name: dir all
#       run: cmd /c "dir /b /s"

    - name: execute
      run: python D4JMining.py ${{matrix.bug_ind}} base

#     - name: dir component_importance_data
#       if: ${{ always() }}
#       run: cmd /c "dir /b /s"
#       working-directory: component_importance_data

    - name: Upload component_importance_data
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: component_importance_data
        path: component_importance_data

#     - name: Upload traces_json
#       if: ${{ always() }}
#       uses: actions/upload-artifact@v2
#       with:
#         name: traces_json
#         path: component_importance_data\${{github.event.issue.title}}\traces_json

#     - name: Upload mvn_outputs
#       if: ${{ always() }}
#       uses: actions/upload-artifact@v2
#       with:
#         name: mvn_outputs
#         path: component_importance_data\${{github.event.issue.title}}\mvn_outputs

#     - name: Upload traces
#       if: ${{ always() }}
#       uses: actions/upload-artifact@v2
#       with:
#         name: traces
#         path: component_importance_data\${{github.event.issue.title}}\traces

#     - name: Upload classification_metrics
#       if: ${{ always() }}
#       uses: actions/upload-artifact@v2
#       with:
#         name: classification_metrics
#         path: component_importance_data\${{github.event.issue.title}}\classification_metrics

#     - name: create zip
#       shell: python
#       run: | 
#         import zipfile, os
#         zf = zipfile.ZipFile('data.zip', mode='w', allowZip64 = True)
#         list(map(lambda x: list(map(lambda y: zf.write(os.path.join(x[0], y)), x[2])), os.walk('.')))
#         zf.close()
#       working-directory: component_importance_data
      

#     - name: Upload results to release
#       uses: svenstaro/upload-release-action@v1-release
#       with:
#         repo_token: ${{ secrets.GITHUB_TOKEN }}
#         file: component_importance_data/data.zip
#         asset_name: ${{github.event.issue.title}}.zip
#         tag: ${{github.event.issue.title}}_${{github.event.issue.number}}

#     - name: Close Issue
#       continue-on-error: true
#       uses: peter-evans/close-issue@v1
#       with:
#         comment: |
#           The issue you have reported seems to be resolved now.
#           The extracted data can be found at releases.



  training_set:
      # The type of runner that the job will run on
      runs-on: windows-latest
      strategy:
        fail-fast: false
        matrix:
          bug_ind: [19, 28, 29]#, 45, 49, 83, 224, 229, 259, 262, 284, 21, 27, 30, 31, 32, 33, 34, 36, 48, 54, 56, 57, 68, 72, 73, 76, 78, 87, 90, 176, 178, 181, 182, 183, 200, 219, 225, 230, 248, 249, 252, 258, 267, 269, 275, 279, 282, 283, 289, 290, 291, 296, 305, 306, 307, 309, 311, 312, 314, 315, 317, 319, 321, 325]

      continue-on-error: true
      needs: extract_all
  
      steps:
      
        - uses: actions/checkout@v2
        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: 3.8

        - name: Set up JDK 1.8
          uses: actions/setup-java@v1
          with:
            java-version: 1.8

        - name: longpaths
          run: git config --system core.longpaths true

        - name: Checkout component_importance
          uses: actions/checkout@v2
          with:
            repository: amir9979/component_importance
            path: .
            fetch-depth: 0

        - name: Checkout javadiff
          uses: actions/checkout@v2
          with:
            repository: amir9979/javadiff
            path: ./javadiff
            fetch-depth: 0

        - name: Checkout sfl
          uses: actions/checkout@v2
          with:
            repository: amir9979/sfl
            path: ./sfl
            fetch-depth: 0

        - name: Checkout mvnpy
          uses: actions/checkout@v2
          with:
            repository: rotba/mvnpy
            path: ./mvnpy
            fetch-depth: 0
            ref: miner_merge

        - name: Install dependencies
          run: |
                python -m pip install --upgrade pip
                pip install pytest 
                pip install gitpython
                pip install jira
                pip install termcolor 
                pip install openpyxl  
                pip install javalang
                pip install pathlib
                pip install junitparser
                pip install numpy
                pip install sklearn
                pip install pandas
                pip install pyswarm
                pip install networkx
                pip install lizard
                pip install pytest 
                pip install gitpython
                pip install jira
                pip install termcolor 
                pip install openpyxl  
                pip install javalang
                pip install pathlib
                pip install junitparser
                pip install pandas
                pip install numpy
                pip install pydriller
                pip install dataclasses
                pip install jsons

        - uses: actions/download-artifact@v2
        
        - uses: geekyeggo/delete-artifact@v1
          with:
              name: component_importance_data

        - name: javadiff_install
          run: python ./javadiff/setup.py install

        - name: execute
          run: python D4JMining.py ${{matrix.bug_ind}} base training_set

        - name: Upload component_importance_data
          if: ${{ always() }}
          uses: actions/upload-artifact@v2
          with:
            name: component_importance_data
            path: component_importance_data
        



  experiment:
      # The type of runner that the job will run on
      runs-on: windows-latest

      continue-on-error: true
      needs: training_set
  
      steps:
      
        - uses: actions/checkout@v2
        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: 3.8

        - name: Set up JDK 1.8
          uses: actions/setup-java@v1
          with:
            java-version: 1.8

        - name: longpaths
          run: git config --system core.longpaths true

        - name: Checkout component_importance
          uses: actions/checkout@v2
          with:
            repository: amir9979/component_importance
            path: .
            fetch-depth: 0

        - name: Checkout javadiff
          uses: actions/checkout@v2
          with:
            repository: amir9979/javadiff
            path: ./javadiff
            fetch-depth: 0

        - name: Checkout sfl
          uses: actions/checkout@v2
          with:
            repository: amir9979/sfl
            path: ./sfl
            fetch-depth: 0

        - name: Checkout mvnpy
          uses: actions/checkout@v2
          with:
            repository: rotba/mvnpy
            path: ./mvnpy
            fetch-depth: 0
            ref: miner_merge

        - name: Install dependencies
          run: |
                python -m pip install --upgrade pip
                pip install pytest 
                pip install gitpython
                pip install jira
                pip install termcolor 
                pip install openpyxl  
                pip install javalang
                pip install pathlib
                pip install junitparser
                pip install numpy
                pip install sklearn
                pip install pandas
                pip install pyswarm
                pip install networkx
                pip install lizard
                pip install pytest 
                pip install gitpython
                pip install jira
                pip install termcolor 
                pip install openpyxl  
                pip install javalang
                pip install pathlib
                pip install junitparser
                pip install pandas
                pip install numpy
                pip install pydriller
                pip install dataclasses
                pip install jsons

        - uses: actions/download-artifact@v2
        
        - uses: geekyeggo/delete-artifact@v1
          with:
              name: component_importance_data

        - name: javadiff_install
          run: python ./javadiff/setup.py install

        - name: execute
          run: python experiment.py

        - name: Upload component_importance_data
          if: ${{ always() }}
          uses: actions/upload-artifact@v2
          with:
            name: component_importance_data
            path: component_importance_data
        

